{% extends 'base.html' %}

{% block title %}Lista de clientes{% endblock %}

{% block main %}

<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <h1>Clientes</h1>
        <ul class="list-group" >
        {% for person in persons %}
            <li class="list-group-item" >
                <a href="{% url 'person_update' person.id %}">{{ person.first_name }}</a>
                <a href="{% url 'person_delete' person.id %}" class="btn btn-warning" >Deletar</a>
            </li>
        {% endfor %}
        </ul>
        <br>
        <a href="{% url 'person_new' %}" class="btn btn-info" >Cadastrar</a>

    </div>
    <div class="col">
        {% if user.is_authenticated %}
            <p>Olá {{ user.username }}  <a href="{% url 'logout' %}">Logout</a></p>
        {% else %}
            <a href="{% url 'login' %}">Login</a>
        {% endif %}
    </div>
</div>


{% endblock %}




